/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.logo {
    padding-top: 8px;
    padding-bottom: 30px;
    width: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.partie {
    display: flex;
    align-items: center;
}
header  {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: black;

}

header .partie a:hover{

    padding: auto;
    border-top: 2px #0065FC solid;
    color: #0065FC;
    padding: 20px 0px 0px 0px;

}

header :first-child {
    margin-right: 40px;
}

header:last-child {
    margin-left: 0;
}



.fa-location-dot {
    font-size: 17px;
    border-bottom: 2px #F2F2F2 solid;
    padding: 15px 20px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    color: black;
    margin-right: -5px;
}

.search-box {
    border-top: 1px #F2F2F2 solid;
    border-right: 0px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    border-left: 1px #F2F2F2 solid;
    padding: 15px 20px;
    margin-bottom: 25px;
}
.search-button {
    padding: 15px 20px;
    background-color:#0065FC;
    color: white;
    border: none;
    border-radius:0px 15px 15px 0px;
    cursor: pointer;
   

}



.rounded-button {
    background-color: white;
    color:#0065FC;
    border: 2px solid #DEEBFF;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
 
  .rounded-button i {
    margin-right: 5px;
  }
 .fa-info {
    font-size: 10px;
    padding: 6px 9px;
    border-radius: 50% / 50%;
    border: 1px #D9D9D9 solid;
    color: #0065FC;
    
}  
  .bold {
    font-weight: bold;
    color: black;
  }


  .buttons-container {
    display: flex;
    align-items: center;
}


#filtres {
    margin-right: 20px;
}


.rounded-button {
    margin-right: 15px;
}


.rounded-button:hover {
    background-color: #deebff;
}



.blue-icon {
    color:  #deebff; 
    margin-right: 10px; 
}


.main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0 50px;
        box-sizing: border-box;
        margin: 0 auto; 
    
}

a {
    color: inherit;
    text-decoration: none;

}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.hebergements-and-populaires .hebergements {
    padding:20px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements .section-title {
    margin-bottom: 40px;
}
.hebergements .card-txt .card-subtitle{
    margin: 0;
}

.hebergements .card-txt .card-title{ 
    margin: 0;
    margin-bottom: 5px;
}
.flex-container .card1 {
    width: 250.33px;
    height: 207.25px;
    gap: 4px;
    border-radius: 20px;
    opacity: 0px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); 
    padding: 0px, 0px, 15px, 0px;
    margin-bottom: 40px;
   

}
.flex-container .card1 img {
    width: 250.33px; 
    border-radius: 20px 20px 0px 0px; 
    height: 124px;
    border: 5px;
    opacity: 0px;

}

.hebergements .card1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-container  .card1 {
    display: flex;
    justify-content: space-between; /* Pour espacer les éléments horizontalement */

}

.card1 {
    flex: 1; /* Pour que chaque carte occupe le même espace */
    margin-right: 20px; /* Espacement entre les cartes */
}

.flex-container .card3 {
    width: 250.33px;
    height: 207.25px;
    gap: 4px;
    border-radius: 20px;
    opacity: 0px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); 
    padding: 0px, 0px, 15px, 0px;
    
    

}
.flex-container .card3 img {
    width: 250.33px; 
    border-radius: 20px 20px 0px 0px; 
    height: 124px;
    border: 5px;
    opacity: 0px;

}

.hebergements .card3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-container  .card3 {
    display: flex;
    justify-content: space-between; 
}

.card3 {
    flex: 1; 
    margin-right: 20px; 
}




/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activitées à Marseille*/


.flex-container .card2 {
    width: 297.5px;
    height: 439px;
    gap: 0px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); 

}
.flex-container .card2 img {
    width: 100%; 
    border-radius: 20px 20px 0px 0px; 
    height: 380px;
    gap: 0px;
    border: 5px 0px 0px 0px;
    opacity: 0px;

}

.hebergements .card2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-container {
    display: flex;
    justify-content: space-between; /
}

.card2 {
    flex: 1;
    margin-right: 40px; 
}

.card-content {
    margin-bottom: 20px; 
    margin-left : 14px;
}

.card-content .card-txt,
.card-content .card-rating {
    margin-bottom: 5px;
}

.activites {
    margin-top: 50px;

}


/*Footer*/

.footer-banner {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2; 
    padding: 20px; 
    height: 150px; 
}
.footer-banner {
    margin-top: 100px; 
}
.footer-infos .footer-hebergement .footer-assitance {
    flex: 1; 
    text-align: left; 
    margin-left: 30px;
}



.footer-infos .footer-hebergement .footer-assitance h2 {
    margin-bottom: 10px; 
}

.footer-infos .hebergement .footer-assitance a {
    display: block;
    color: #333; 
    text-decoration: none;
}

.footer-container {
    margin-left: 50px; 
    margin-right: 50px; 
    background-color: #ffffff;
}

.footer-banner-container {
    margin-top: 25px;
    padding: 0 50px; 
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1440px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: auto;
        height: 611.5pxpx;
        padding: 30px 0px 0px 0px;
        gap: 30px;
        border-radius: 15px 0px 0px 0px;
        opacity: 0px;

    }

    .populaires {
        width:100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        width: 924px;
        height: 611.5px;
        padding: 30px 0px 0px 0px;
        gap: 30px;
        border-radius: 15px 0px 0px 0px;
        opacity: 0px;
        
    }
    .flex-container .card2 {
        width: 193.5px;
        height: 270px;
        border-radius: 20px 0px 0px 0px;
    }
    .flex-container .card2 img {
        width: 100%; 
        border-radius: 20px 20px 0px 0px; 
        height: 200px;
        gap: 0px;
        border: 5px 0px 0px 0px;
        opacity: 0px;
    
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
  

    
    header :first-child {
        margin-right: 40px;
    }

    html{
        overflow-x: hidden;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .partie{
        display: flex;
        flex-direction: row;
    }

 
   
    .logo { 
        padding: 15px;
        margin-left: 15%;
    }
   .search-button {
    width: 49px;
    height: 49px;
    left: 286px;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    border-radius: 15px 15px 15px 15px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    
   }

    nav {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        margin-bottom: 20px; 
    }
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #hebergement{
        width: 50%;
    }
    #activite{
        width: 50%;
    }

    .search-button strong {
        display: none; 
    }


    #filtres {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        margin-bottom: 20px; 
    }

    #filtres .rounded-button {
        width: calc(50% - 10px); 
        margin-bottom: 10px; 
    }

    .hebergements-and-populaires section {
        margin-bottom: 20px; 
    }

    .hebergements-and-populaires section:first-child {
        order: 2; 
    }
    .hebergements .flex-container,
    .populaires .populaires-cards {
        display: flex;
        flex-direction: column; 
    }
    .hebergements .flex-container a,
    .populaires .populaires-cards a {
        width: 100%;
    }
    .hebergements-and-populaires {
        flex-direction: column;
        width: 100%;
    }

    .activites  .flex-container
     .card2 {
        display: flex;
        flex-direction: column;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .footer-infos, 
    .footer-hebergement, 
    .footer-assitance{
        width: auto; 
        margin: 10px 0;
    }
}










